.inlineRow { 
  padding-right: 20px; 
  
}

.input-tab { 
  color: red; 
}

.input-tab.input-tab.active{ 
  color: red; 
}

.input-tab > a{ 
  color: #cdcdcd;
}

.input-tab>a:hover{
  color: grey;
}

.input-tab-content { 
  padding:10px 10px;
}

.btn { 
  background-color: #6699BB !important;
  border-color: white !important;
}

.btn:hover { 
  background-color: #6699CC !important;
}

.upper-table { 
  width: 100%;
  table-layout: fixed;
}


.right-table { 
  top: -10px; 
  position: relative;
  width: 100%;
  table-layout: fixed;
  border-spacing: 24px;
  border-collapse: separate;
}


.post-it { 
  height: 260px;
  border: 1px; 
  border-color: #DCDCDC;
  border-style: solid; 
  border-radius: 0.3em;
  padding: 10px; 
}